<div class="card">
  <div class="card-body">
    <h6>My Savings Account</h6>
    <h1><%= @available_balance %></h1>
  </div>
</div>
<div class="account_btns">
    <button type="button" class="btn btn-primary">Deposit</button>
    <button type="button" class="btn btn-primary">Transfer</button>
    <button type="button" class="btn btn-primary">Withdraw</button>
</div>